proxy:
  build: nginx/
  links:
    - nyuVote:nyuVote
  ports:
    - "80:80"
    - "443:443"
  volumes:
    - nginx/ssl/:/etc/nginx/ssl
nyuVote:
  build: nyu-vote/
  environment:
    - ROOT_URL=https://localhost
    - MONGO_URL=
    - googleId=
    - googleSecret=
  expose:
    - "3000"
